.general-container {
    background-color: #EBEBED;
    border-radius: 0.5rem;
    width: 100%;
    height: 60vh;
    position: fixed;
    z-index: 100;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grey-line {
    background-color: #cfcfd1;
    width: 30%;
    height: 0.7vh;
    display: block;
    border-radius: 1rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.action-title {
    margin-top: 20px;
}
.children-container {
    border: 1px solid black;
}
.action-buttom {
    background-color: #1c1c22;
    width: 35%;
    height: 6.5vh;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    position: absolute;
    bottom: 4vh;
    color: #EBEBED;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Montserrat";
}
.action-buttom:hover {
    opacity: 90%;
}