.pageHeading {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0rem 1.5rem;
  background-color: #1B212D;
  border-radius: 0 0 12px 12px;
}
.pageHeading .logoContainer, .pageHeading .leftContainer {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
}
.pageHeading .logoContainer img, .pageHeading .leftContainer img  {
	height: 100%;
}
.pageHeading .logoContainer {
  cursor: pointer;
}