.petMateCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
	box-shadow: 2px 4px 7px -1px rgba(122,122,122,0.75);
    background: #F2E9D8;
    color: black;
    font-weight: 700;
	cursor: pointer;
    border-radius: 0.5rem;
}
.leftContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.leftContainer img {
	width: 3rem;
}