.roundedButton {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	box-shadow: 2px 4px 7px -1px rgba(122,122,122,0.75);
	background-color: #1B212D;
	border: none;
	border-radius: 100%;
}