.settingsList {
	width: 100%;
	padding: 1rem 1.5rem;
	display: flex;
	flex-direction: column;
}
.titleHedingsSettings .schedule {
	width: 40%;
}
.titleHedingsSettings .quantity {
	width: 60%;
}
.titleHedingsSettings {
	display: flex;
	justify-content: space-between;
	padding:  0.2rem 0.5rem;
}