.settingsCard {
	width: 100%;
	padding: 1rem 0.5rem;
    background: #F2E9D8;
    display: flex;
	justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
}


.settingsCard .schedule {
    width: 30%;
    margin-left: 10px;
}

.quantity {
    width: 35%;
}

.toolsContainer {
    width: 8%;
    display: flex;
    justify-content: space-evenly;
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    fill: rgb(189, 14, 14);
}
