.wizardContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	background: rgb(10,18,33);
	background: linear-gradient(297deg, rgba(10,18,33,1) 0%, 
	rgba(9,9,38,1) 39%, rgba(8,12,37,1) 100%);
}
.topToolsContainer {
	width: 100vw;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
}
.topToolsContainer small {
	color:  #374d79 !important;
	font-size: 14px;
}
.petmateLogo {
	position: absolute;
	width: 120px;
	z-index: 10;
	top: 20vh;
}
.wizardContainer h1 {
	text-align: center;
	margin-bottom: 1rem;
	color: #EBEBED;
}
.wizardContainer input {
	width: 80%;
	background-color: #fff;
	border-color: 2px solid white;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-size: 22px;
	text-align: center;
	color: rgba(0,0,0, 0.87);
	border: 2px solid transparent !important;
}

.formContainer {
	width: 100%;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wizardContainer .buttonsContainer {
	width: 100%;
	padding: 1rem 1.5rem 2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.wizardContainer .buttonsContainer button{
	padding: 0.5rem;
	padding-left: 1rem;
	background-color: #FB6E1F;
	border-radius: 5px;
	color: #1B212D;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.wizardContainer .buttonsContainer button:disabled{
	background-color: #5d5653;
}
